# Financial Analysis of US Stocks

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
df_2014= pd.read_csv(r'/Users/Bilkis/Documents/Data Analysis/Python/Finanvcial Analysis/2014_Financial_Data.csv')
df_2015= pd.read_csv(r'/Users/Bilkis/Documents/Data Analysis/Python/Finanvcial Analysis/2015_Financial_Data.csv')
df_2016= pd.read_csv(r'/Users/Bilkis/Documents/Data Analysis/Python/Finanvcial Analysis/2016_Financial_Data.csv')
df_2017= pd.read_csv(r'/Users/Bilkis/Documents/Data Analysis/Python/Finanvcial Analysis/2017_Financial_Data.csv')
df_2018= pd.read_csv(r'/Users/Bilkis/Documents/Data Analysis/Python/Finanvcial Analysis/2018_Financial_Data.csv')

In [48]:
print("Shape of data for Year 2014 is {}".format(df_2014.shape))
print("Shape of data for Year 2014 is {}".format(df_2015.shape))
print("Shape of data for Year 2014 is {}".format(df_2016.shape))
print("Shape of data for Year 2014 is {}".format(df_2017.shape))
print("Shape of data for Year 2014 is {}".format(df_2018.shape))

Shape of data for Year 2014 is (3808, 225)
Shape of data for Year 2014 is (4120, 225)
Shape of data for Year 2014 is (4797, 225)
Shape of data for Year 2014 is (4960, 225)
Shape of data for Year 2014 is (4392, 225)

In [50]:
print(df_2014.isnull().sum())

Unnamed: 0                0
Revenue                  44
Revenue Growth          236
Cost of Revenue          74
Gross Profit             52
                       ...
R&D Expense Growth      247
SG&A Expenses Growth    243
Sector                    0
2015 PRICE VAR [%]        0
Class                     0
Length: 225, dtype: int64

In [52]:
print(df_2015.isnull().sum())

Unnamed: 0                0
Revenue                  67
Revenue Growth          340
Cost of Revenue         193
Gross Profit             65
                       ...
R&D Expense Growth      351
SG&A Expenses Growth    347
Sector                    0
2016 PRICE VAR [%]        0
Class                     0
Length: 225, dtype: int64

In [54]:
print(df_2016.isnull().sum())

Unnamed: 0                0
Revenue                 489
Revenue Growth          649
Cost of Revenue         640
Gross Profit            492
                       ...
R&D Expense Growth      772
SG&A Expenses Growth    756
Sector                    0
2017 PRICE VAR [%]        0
Class                     0
Length: 225, dtype: int64

In [58]:
print(df_2017.isnull().sum())

Unnamed: 0                0
Revenue                 525
Revenue Growth          724
Cost of Revenue         679
Gross Profit            534
                       ...
R&D Expense Growth      850
SG&A Expenses Growth    828
Sector                    0
2018 PRICE VAR [%]        0
Class                     0
Length: 225, dtype: int64

In [60]:
print(df_2018.isnull().sum())

Unnamed: 0                0
Revenue                  46
Revenue Growth          139
Cost of Revenue         185
Gross Profit             64
                       ...
R&D Expense Growth      259
SG&A Expenses Growth    248
Sector                    0
2019 PRICE VAR [%]        0
Class                     0
Length: 225, dtype: int64

In [62]:
df_2014.fillna(0,inplace =True)
df_2015.fillna(0,inplace =True)
df_2016.fillna(0,inplace =True)
df_2017.fillna(0,inplace =True)
df_2018.fillna(0,inplace =True)